@font-face {
	font-family: PIDVL;
	src: url(Fonts/PIDVL.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Harabara;
	src: url(Fonts/Harabara.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}
body {
	background-position: center; margin: 0px; padding: 0px; overflow: hidden; font-size: 9px; -ms-user-select: none; -ms-touch-action: none; background-image: url("Images/Watermark.png"); background-repeat: no-repeat; background-size: 100% 100%; -moz-user-select: none; -webkit-user-select: none;
}
#Logo {
	left: 18px; top: 50%; height: 524px; margin-top: -300px; position: fixed;
}
#Controls {
	top: 50%; width: 170px; height: 240px; right: 0px; margin-top: -170px; margin-right: 22px; position: fixed;
}
#selectBenchmarkDiv {
	margin-bottom: 32px;
}
#selectBenchmark {
	font-size: 18px; display: none; cursor: pointer;
}
#benchmarkButton {
	padding: 8px; border-radius: 4px; text-align: center; font-family: Harabara; font-size: 14px; margin-top: 32px; display: none; background-color: rgb(53, 149, 46);
}
#benchmarkButton:hover {
	cursor: pointer; background-color: rgb(250, 198, 1);
}
#timer {
	text-align: center; font-size: 32pt; font-weight: bold;
}
#timerLabel {
	margin-top: -8px; margin-bottom: 10px;
}
.info {
	text-align: center; font-family: Harabara; font-size: 10pt;
}
#sourceCanvas {
	display: none;
}
#DetailsPanel {
	left: 50%; width: 692px; bottom: 0px; font-size: 8pt; margin-bottom: 10px; margin-left: -310px; display: none; position: fixed;
}
#lightBox {
	background-position: center; border-width: 30px 40px 28px 38px; border-style: solid; border-color: azure; border-radius: 30px; left: 50%; top: 50%; margin-top: -330px; margin-left: -318px; display: -ms-flexbox; position: relative; opacity: 0; -ms-flex-wrap: wrap; -ms-flex-line-pack: start; background-image: url("Images/Glow.png"); background-repeat: no-repeat; -moz-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-content: flex-start; align-content: flex-start; -moz-border-image: url(Images/BorderImage.png) 30 40 28 38 repeat; -webkit-border-image: url(Images/BorderImage.png) 30 40 28 38 repeat; -o-border-image: url(Images/BorderImage.png) 30 40 28 38 repeat; border-image: url(Images/BorderImage.png) 30 40 28 38 fill repeat;
}
.textStyle {
	width: 100%; color: black; padding-left: 2px; font-family: "PIDVL"; display: inline-block;
}
.byteBox {
	width: 9px; background-image: url("Images/Peg.png"); background-repeat: no-repeat;
}
.inset {
	width: 4px; font-size: 4px; background-color: black;
}
#outer {
	width: 100%; height: 100%; position: relative;
}
#DemoScreenreaderText {
	left: -10000px; position: absolute;
}
#upgrade {
	padding: 0px; border-radius: 5px; border: 4px solid rgb(0, 0, 0); left: 50%; top: 230px; width: 480px; text-align: left; margin-left: -250px; display: none; position: fixed; z-index: 10; background-color: rgb(255, 255, 255);
}
#upgrade_warning {
	margin: auto; padding: 10px; width: 437px; position: relative; background-color: rgb(255, 255, 255);
}
#upgrade_content {
	padding: 0px 0px 10px 20px; text-align: left; margin-bottom: 20px;
}
#upgrade_button {
	padding: 8px 5px; width: 100px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; margin-top: 10px; display: inline-block; cursor: pointer; background-color: rgb(249, 123, 12);
}
#dismiss_button {
	padding: 8px 5px; width: 100px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; margin-top: 10px; display: inline-block; cursor: pointer; background-color: rgb(249, 123, 12);
}
#upgrade_text {
	font-size: 12px;
}
#upgrade_ie_logo {
	margin-top: 10px; margin-right: 10px; margin-left: 20px; float: right;
}
