<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="useSecurePort" value="false" />
    <add key="secureAddress" value="https://localhost:8443/" />
    <add key="unsecureAddress" value="http://localhost:8080/" />
    <add key="handshakeOptions" value="handshake" />
    <add key="prioritiesOptions" value="priorities" />
    <add key="flowcontrolOptions" value="flowcontrol" />
    <add key="securePort" value="8443" />
    <add key="unsecurePort" value="8080" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>