# Standard VS.NET and ReSharper Foo
obj/
bin/
Bin/
*.nupkg
*.xml
*.suo
*.pdb
*.user
*.cache
Thumbs.db

# Don't include NuGet Packages http://docs.nuget.org/docs/workflows/using-nuget-without-committing-packages
packages/

# Project specific
/Drop/
/debug.log
