<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="secureAddress" value="https://localhost:8443/" />
    <add key="unsecureAddress" value="http://localhost:8080/" />
    <add key="securePort" value="8443" />
    <add key="unsecurePort" value="8080" />
    <add key="smallTestFile" value="/smallTest.txt" />
    <add key="10mbTestFile" value="/10mbTest.txt" />
  </appSettings>
</configuration>