<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Firefly" version="0.6.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="0.20-alpha-20220-88" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="0.20-alpha-20220-88" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpSys" version="0.2-alpha1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="0.20-alpha-20212-60" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="0.21.0-pre" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Types" version="0.8.5" targetFramework="net45" />
</packages>