<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Firefly" version="0.6.3" targetFramework="net45" />
  <package id="Katana" version="0.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0-beta2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0-beta2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.0.0-beta2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="1.1.0-beta2" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="1.1.0-beta2" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpSys" version="0.2-alpha1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="0.20-alpha-20212-60" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="1.1.0-beta2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Types" version="0.8.5" targetFramework="net45" />
</packages>