<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Katana MyGet" value="http://myget.org/f/katana" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="Owin MyGet" value="http://myget.org/f/owin" />
  </activePackageSource>
</configuration>