#ReturnAndShareControls {
	top: 0px; height: 27px; right: 40px; overflow: hidden; position: absolute; z-index: 1000;
}
#ReturnAndShareControls > .ReturnButton {
	background-position: 0px -1px; width: 170px; height: 27px; display: inline-block; background-image: url("/root/LookAround_files/ReturnButtonImageStrip.png");
}
#ReturnAndShareControls > .ShareOnFacebookButton {
	background-position: -189px -1px; width: 24px; height: 27px; display: inline-block; position: relative; background-image: url("/root/LookAround_files/ReturnButtonImageStrip.png");
}
#ReturnAndShareControls > .ShareOnTwitterButton {
	background-position: -214px -1px; width: 25px; height: 27px; display: inline-block; position: relative; background-image: url("/root/LookAround_files/ReturnButtonImageStrip.png");
}
#ReturnAndShareControls > .ShareViaEmailButton {
	background-position: -240px -1px; width: 30px; height: 27px; display: inline-block; position: relative; background-image: url("/root/LookAround_files/ReturnButtonImageStrip.png");
}
#ReturnAndShareControls > .ReturnButton:hover {
	background-position: 0px -29px;
}
#ReturnAndShareControls > .ShareOnFacebookButton:hover {
	background-position: -189px -29px;
}
#ReturnAndShareControls > .ShareOnTwitterButton:hover {
	background-position: -214px -29px;
}
#ReturnAndShareControls > .ShareViaEmailButton:hover {
	background-position: -240px -29px;
}
