<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="secureAddress" value="https://localhost:8443/" />
    <add key="unsecureAddress" value="http://localhost:8080/" />
    <add key="securePort" value="8443" />
    <add key="unsecurePort" value="8080" />
    <add key="useSecurePort" value="false" />
    <add key="handshakeOptions" value="handshake" />
    <add key="prioritiesOptions" value="priorities" />
    <add key="flowcontrolOptions" value="flowcontrol" />
    <add key="smallTestFile" value="simpleTest.txt" />
    <add key="5mbTestFile" value="5mbTest.txt" />
  </appSettings>
</configuration>