<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="secureAddress" value="https://localhost:8443/root/" />
    <add key="unsecureAddress" value="http://localhost:8080/root/" />
    <add key="securePort" value="8443" />
    <add key="unsecurePort" value="8080" />
    <add key="useSecurePort" value="true" />
    <add key="handshakeOptions" value="handshake" />
    <add key="server-name" value="localhost" />
    <add key="prioritiesOptions" value="priorities" />
    <add key="flowcontrolOptions" value="flowcontrol" />
    <add key="smallTestFile" value="simpleTest.txt" />
    <add key="5mbTestFile" value="5mbTest.txt" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>