<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="securePort" value="8443" />
    <add key="unsecurePort" value="8080" />
    <add key="useSecureAddress" value="true" />
    <add key="directEnabled" value="false" />
    <add key="serverName" value="localhost" />
    <add key="fileName" value="simpleTest.txt" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>